@media screen and (max-width: 480px) {


    .gallery > * {
      width: 100%;

    }

    .spotlight > * {
        width: 100%;

    }
    .spotlight{
        display: block;
    }

    .inner{
        width: 100%;
        text-align: center;
    }

    .wrapper.style1 .content {
        padding: 1rem;
    }
    .spotlight .inner {
        padding: 1rem;
    }

    .wrapper.style2 {
        background: #1e1f23;
        padding: 1rem;
    }

}