
footer, header {
    background: #8B603D;
    border: 2px solid black;
    color: white;
    vertical-align: middle;
    padding: 50px 20px;
}
.menu{
    width: 24%;
}

.float-left{
    float: left;
    padding: 15px;
}
aside ul li{
    background: #33B5E5;
    padding: 10px;
    margin: 15px;
    list-style-type: none;
    color: white;
}
aside ul{
    padding-left: 0px;
}
.content{
    width: 71%;
}
.float-right{
    float: right;}

p{
    margin-bottom: 20px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
}